@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font-body:"Nunito", sans-serif;
    --font-style: "Rampart One", sans-serif;
    --color-dreamy: #eaebed;
    --color-ocean: #006989;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: var(--font-body);
    background: var(--color-ocean);
    color: var(--color-dreamy);
}
.header h1 {
    font-family: var(--font-style);
    transform: scale(1.5);
}