@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font-body:"Nunito", sans-serif;
    --font-style: "Rampart One", sans-serif;
    --color-dreamy: #eaebed;
    --color-ocean: #006989;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: var(--font-body);
    background: var(--color-ocean);
    color: var(--color-dreamy);
}
.header h1 {
    font-family: var(--font-style);
    color: var(--color-dreamy);
    letter-spacing: 3px;
    transform: scaleY(1.4);
    margin-bottom: 10px;
}
.header p {
    color: var(--color-dreamy);
    margin-top: 1rem;
}
.footer-d {
    margin-top: 14px;
}
.footer-d p {
    color: var(--color-dreamy);
}
.IU {
    background: #fff;
    padding: 14px;
}
.IU label {
    border: 2px dashed rgb(128, 126, 126);
    cursor: pointer;
    padding: 10px;
    text-align: center;
}
.IU label:hover {
    border: 2px dashed rgb(98, 98, 255);
    transform: all ease 3s;
}